/* Allow users in '{{ libvirtd_admin_group }}' group to manage the libvirt daemon without authentication */
polkit.addRule(function(action, subject) {
    if (action.id == "org.libvirt.unix.manage" &&
        subject.isInGroup("{{ libvirtd_admin_group }}")) {
            return polkit.Result.YES;
    }
});
